body {
  background-color: grey;
  text-align: center;
  padding: 100px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 3.5rem);
}

#display {
  display: flex;
  border: none;
  height: 50px;
  background-color: white;
}

.btn {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: #3686c9;
  margin: 1px;
}

.btn:nth-child(18) {
  grid-column: span 2;
  width: auto;
  border-radius: 999px;
}

#display {
  grid-column: span 4;
}

.calculator {
  background-color: #575a6c;
  margin: auto;
  width: fit-content;
}
